<section id="footer">
  <div class="footer-container">
    <!-- <img class="logo" src="src/img/logo.png" alt=""> -->
 
    <div class="link-main-sites">
      <a href="index.html">Start </a> <span>|</span> 
      <a href="rezept-des-tages.html"> Rezept des Tages</a> <span>|</span> 
      <a href="kontakt.html">Kontakt</a> <span>|</span>
      <a href="impressum.html">Impressum</a> <span>|</span>
      <a href="datenschutz.html">Datenschutz</a>
    </div>

    <div class="social-media-container">
      <a href="https://www.instagram.com/" target="_blank"><img class="social-media-img"src="src/img/ins.png" alt=""></a>
      <a href="https://de-de.facebook.com/" target="_blank"><img class="social-media-img"src="src/img/fb.png" alt=""></a>
      <a href="https://www.tripadvisor.de/" target="_blank"><img class="social-media-img"src="src/img/tripad.png" alt=""></a>
    </div>

    <div>&copy; Copyright - Kochwelt </div>
  </div>
</section>