<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/css/veysel.css">
  <script src="../src/js/script.js"></script>
  <title>Document</title>
</head>
<body>
<!-- ===== START DESKTOP HEADER =====-->
<header id="desktop-header">
  <nav id="nav-container">
    <a href="index.html"><img class="headerLogo" src="src/img/logo.png" alt=""></a>
    <div class="navbar">
        <div class="link-wrapper"><a href="index.html">Start</a></div>
        <div class="link-wrapper"><a href="rezept-des-tages.html">Rezept des Tages</a></div>
        <div class="link-wrapper"><a href="kontakt.html">Kontakt</a></div>
        <div class="link-wrapper"><a href="impressum.html">Impressum</a></div>
    </div>
  </nav>
</header>
<!-- ===== END DESKTOP HEADER =====-->

<!-- ===== START MOBILE HEADER =====-->
<header id="mobile-header">
  <nav id="mobile-nav-container">
    <div class="top-nav">
      <a class="wrapper-mobile-logo" href="index.html"><img class="mobile-logo" src="src/img/logo.png" alt=""></a>
      <img onclick="showHideMobileMenu()" class="mobile-icon" src="src/img/mobile-icon.svg" alt="">
    </div> 
    <div id="mobile-navbar" style="display: none;">
        <a href="index.html">Start</a>
        <a href="rezept-des-tages.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </div>
  </nav>
</header>
<!-- ===== END MOBILE HEADER =====-->
</body>
</html>


