<div class="s1">
    <img class="crossiantImage" src="src/img/croissant.jpg">
    <div class="s1Explain">
        <h2 class="s1Headline">Französische Croissants</h2>
        <p>
            Schmackhafte Crossiants können auch zu Hause sehr einfach gebacken werden. Mit ca 30 Minuten Aufwand
            kannst du ein wundervolles Frühstück zaubern.
        </p>
        <a href="rezept-des-tages.html">
            Rezept öffnen
        </a>
    </div>
</div>

<div class="s2">
    <h2 class="s2Headline">Lust auf was Neues?</h2>
    <div class="s2Content">
        <a class="contentBox1" href="recipe-ChiliGingerWings.html">
            <img src="src/img/Oven-baked-Chili-Ginger-Wings1.jpg">
            <p class="imageDescription">Chili Ginger Wings</p>
        </a>
        <a class="contentBox2" href="recipe-FriedSpringRolls.html">
            <img src="src/img/cha-gio-vietnamese-fried-spring-rolls-17-500x375.jpg">
            <p class="imageDescription">Fried Spring Rolls</p>
        </a>
        <a class="contentBox3" href="recipe-StickiestRips.html">
            <img src="src/img/sticky rips.jpg">
            <p class="imageDescription">Stickiest Rips</p>
        </a>
    </div>
</div>

<div class="s3">
    <h2 class="s3Headline">Pfanne vs Wok - Was ist besser?</h2>
    <div class="s3Content">
        <p class="s3Description">
            Der Wok ist zentrales Kochgerät der fernöstlichen Küche. Seine besondere Form und sein Material ermöglichen
            eine spezielle Zubereitung von Gerichten. Die Kochmethode mit dem Wok ist schnell, schmackhaft und gesund.
        </p>
        <img class="wokImage" src="src/img/wok.jpg">
    </div>
</div>